<!DOCTYPE html>
<html>
<title>Balance</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="style.css">
<body style="background-color: #FEE9E9">

  <div class="w3-container" style="background-color:#C29393;">
    <div class="w3-display-container" style="height:73px; color: #FEE9E9">
      <div class="w3-display-left">
        <h1 style="font-weight: bold;">
          <a href="/">Trader</a>
        </h1>
      </div>
      <div class="w3-display-right">
        <a style="font-weight: bold;" href="/history">
          История операций
        </a>
      </div>
    </div>
  </div>

 <div class="w3-row" style="margin-top: 200px; margin-left: 20px">
  <div class="w3-col l5" align="center">
    <h3 style="font-weight: bold">Текущий баланс</h3>
    <h3 style="font-weight: bold">300 USD</h3>
  </div>
  <div class="w3-col l7" >
    <h3 style="font-weight: bold; float: left; margin-left: 100px">Валюты в наличии</h3>

    <div style="margin-top: 75px">
      <table class="w3-table" style="margin-left: 100px">
    <tr>
      <th>Валюта</th>
      <th>Количество</th>
      <th>Состояние</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
    </div>
  </div>

   <div>
     <form action="/balance" method="post" enctype="multipart/form-data">
      <div style="float: right; margin-right: 100px;">
        <h3 style="font-weight: bold">Import</h3>
        <input type="file" accept=".json" name="upload" id="upload" hidden/>
        <label style="display: inline-block;background-color: #C29393; color: #FEE9E9;
          font-family: sans-serif Verdana; cursor: pointer; padding-top: 10px; padding: 8px 16px;" for="upload">Choose file</label>
        <p></p>
        <input type="submit" value="Submit" style="display: inline-block ;background-color: #C29393; color: #FEE9E9;
          font-family: sans-serif Verdana; cursor: pointer;">
      </div>
    </form>

    <form action="/balance" method="post">
      <div style="float: right; margin-right: 100px;">
        <h3 style="font-weight: bold">Export</h3>
        <input type="file" id="export" hidden/>
        <label style="display: inline-block;background-color: #C29393; color: #FEE9E9;
          font-family: sans-serif Verdana; cursor: pointer; padding-top: 10px; padding: 8px 16px;" for="export">Choose file</label>
         <p></p>
        <input type="submit" value="Submit" style="display: inline-block ;background-color: #C29393; color: #FEE9E9;
          font-family: sans-serif Verdana; cursor: pointer;">
      </div>
    </form>
   </div>

</div>

</body>
</html>
