<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:#E5E5E5">

<div class="w3-container" style="background-color:#C29393">

  <div class="w3-display-container" style="height:50px;color:#FEE9E9">
      <div class="w3-display-left"><h1>Trader</h1></div>
    <div class="w3-display-right">Portfolio</div>
  </div>
</div>

<h1 style="font-weight:bold">Purchase history</h1>
<form class="w3-container">
  <p>
  <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%" placeholder="Type currency">
</form>

<div class="w3-container">

  <table class="w3-table w3-bordered">
    <tr>
      <th class="w3-bottombar">Operation type</th>
      <th class="w3-bottombar">Crypto-currency</th>
      <th class="w3-bottombar">Balance</th>
      <th class="w3-bottombar">Date</th>
      <th class="w3-bottombar">Current course</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
</div>

</body>
</html>
