<!DOCTYPE html>
<html>
<title>History</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:#FEE9E9">

 <div class="w3-container" style="background-color:#C29393;">
    <div class="w3-display-container" style="height:73px; color: #FEE9E9">
      <div class="w3-display-left">
        <h1 style="font-weight: bold;">
          <a href="/">Trader</a>
        </h1>
      </div>
      <div class="w3-display-right">
        <a style="font-weight: bold;" href="/history">
          Портфель
        </a>
      </div>
    </div>
  </div>

<div class="w3-panel">
  <h1>История операций</h1>
</div>
<form class="w3-container">
  <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%" placeholder="Type currency" >
</form>

<div class="w3-container">

  <table class="w3-table w3-bordered w3-centered">
    <tr>
      <th class="w3-bottombar">Вид операции</th>
      <th class="w3-bottombar">Валюта</th>
      <th class="w3-bottombar">Количество</th>
      <th class="w3-bottombar">Дата</th>
      <th class="w3-bottombar">Курс</th>
    </tr>
    <tr>
      <td>Buy</td>
      <td>Etherium</td>
      <td>0.11123</td>
      <td>23/12/2021</td>
      <td>2000$</td>

    </tr>
    <tr>
      <td>Sell</td>
      <td>Bitcoin</td>
      <td>2.1324</td>
      <td>23/12/2021</td>
      <td>56312$</td>

    </tr>
    <tr>
      <td>Buy</td>
      <td>Leticoin</td>
      <td>0.55</td>
      <td>23/12/2021</td>
      <td>12$</td>
    </tr>
  </table>
</div>

</body>
</html>
