<!DOCTYPE html>
<html>
<title>CryptoList</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:#FEE9E9">

 <div class="w3-container" style="background-color:#C29393;">
    <div class="w3-display-container" style="height:73px; color: #FEE9E9">
      <div class="w3-display-left">
        <h1 style="font-weight: bold;">
          <a href="/">Trader</a>
        </h1>
      </div>
      <div class="w3-display-right">
        <a style="font-weight: bold;" href="/balance">
            Портфель
        </a>
      </div>
    </div>
  </div>

<div class="w3-panel">
  <h1>Рынок на текущий момент</h1>
</div>
<form class="w3-container">
  <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%" placeholder="Type currency" >
</form>

<div class="w3-container">

  <table class="w3-table w3-bordered w3-centered">
    <tr>
      <th class="w3-bottombar">Валюта</th>
      <th class="w3-bottombar">Обозначение</th>
      <th class="w3-bottombar">Цена(USD)</th>
      <th class="w3-bottombar">Изм.(24ч)</th>
      <th class="w3-bottombar">Ранг</th>
    </tr>
    {% for el in currencies["data"] %}
    <tr>
      <td>
          <a href="/graph/{{ el["id"]}}">{{ el["name"]}}</a>
      </td>
      <td>{{ el["symbol"] }}</td>
      <td>{{ el["priceUsd"] }}</td>
      <td>{{ el["changePercent24Hr"] }}</td>
      <td>{{ el["rank"] }}</td>

    </tr>
    {% endfor %}
  </table>
</div>

</body>
</html>
