<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:#E5E5E5">

<div class="w3-container" style="background-color:#C29393">

  <div class="w3-display-container" style="height:100px;color:#FEE9E9">
      <div class="w3-display-left"><h1>Trader</h1></div>
    <div class="w3-display-right">
        <a href="/balance">Portfolio</a>
    </div>
  </div>
</div>

<div class="w3-panel">
  <h1>Current market state</h1>
</div>
<form class="w3-container">
  <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%" placeholder="Type currency" >
</form>

<div class="w3-container">

  <table class="w3-table w3-bordered w3-centered">
    <tr>
      <th class="w3-bottombar">Crypto-currency</th>
      <th class="w3-bottombar">Symbol</th>
      <th class="w3-bottombar">Price in USD</th>
      <th class="w3-bottombar">Change percent in 24h</th>
      <th class="w3-bottombar">Rank</th>
    </tr>
    <tr>
      <td>Etherium</td>
      <td>ETH</td>
      <td>2000$</td>
      <td>3%</td>
      <td>3</td>

    </tr>
    <tr>
      <td>Bitcoin</td>
      <td>BTC</td>
      <td>56312$</td>
      <td>14%</td>
      <td>2</td>

    </tr>
    <tr>
      <td>LETIcoin</td>
      <td>LTC</td>
      <td>12$</td>
      <td>0%</td>
      <td>1</td>
    </tr>
  </table>
</div>

</body>
</html>
