<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:#E5E5E5">

<div class="w3-container" style="background-color:#C29393">

  <div class="w3-display-container" style="height:100px;color:#FEE9E9">
      <div class="w3-display-left"><h1>Trader</h1></div>
    <div class="w3-display-right">Portfolio</div>
  </div>
</div>

<div class="w3-display-container" style="height:70px">
  <div class="w3-display-middle"><h1 style="font-size:50px">Graph of currency trends</h1></div>
</div>

<div class="w3-row">
    <div class="w3-container w3-third">

    <form class="w3-container w3-card-4" action="/action_page.php">
        <h1>Input Form</h1>
        <div class="w3-bar">
          <a class="w3-bar-item" style="font-size:30px">Time period:</a>
          <div class="w3-dropdown-hover">
              <button class="w3-button" style="font-size:30px">Choose day</button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="#" class="w3-bar-item w3-button">Some</a>
                  <a href="#" class="w3-bar-item w3-button">Day</a>
              </div>
          </div>
      </div>
        <p><input class="w3-input w3-border" name="amount" type="text" placeholder="Type in amount to buy/sell"></p>
        <p><button class="w3-btn" style="background-color:#C29393">Buy</button></p>
        <p><button class="w3-btn" style="background-color:#C29393">Sell</button></p>
    </form>

    </div>

  <div class="w3-container w3-twothird">
    <h2 style="font-size:200px">THERE WILL BE GRAPH!</h2>
  </div>

</div>

</body>
</html>
